{%- assign highlight_style = site["highlightjs-style"] | default: "default" -%}

<link rel="stylesheet" href="{{ "/assets/vendor/hint/hint.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/vendor/highlight/styles/" | append: highlight_style | append: ".min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/code.css" | relative_url }}">

<script defer src="{{ "/assets/vendor/highlight/highlight.min.js" | relative_url }}"></script>
{% include highlight_additional.html %}
<script defer src="{{ "/assets/js/code.js" | relative_url }}"></script>