---
layout: page
---

{%- include toppage_header.html -%}

{%- if content -%}
    {{- content -}}
{%- else -%}
    <p>
    {%- if site.github.project_tagline -%}
        {{- site.github.project_tagline -}}
    {%- elsif site.description and site.description != site.generator_description -%}
        {{- site.description -}}
    {%- else -%}
        {{- site.generator_description_html | default: site.description -}}
    {%- endif -%}
    </p>
{%- endif -%}

{%- include toppage_body.html -%}
{%- include toppage_footer.html -%}
